@font-face {
  font-family: "OpenSansBold";
  src: url("fonts/OpenSansBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("fonts/OpenSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("fonts/OpenSansSemiBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #eee;
  font-family: 'OpenSansRegular', Arial, sans-serif;
}

#chart {
  line-height: 0;
}

.chart {
  margin-left: 8px;
  margin-right: 8px;
  background-color: #fff;
  margin-bottom: 8px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.chart:first-child {
  margin-top: 8px;
}

.line {
  fill: none;
  stroke: steelblue;
  transition-property: fill, stroke;
  transition-duration: .7s;
  stroke-width: 2px;
}

.has-anomalies .line {
  stroke: #f44336 !important;
}

.area {
  fill: lightsteelblue;
  transition-property: fill, stroke;
  transition-duration: .7s;
}

.has-anomalies .area {
  fill: #e47f7e !important;
}

.controls {
  display: flex;
}

.header {
  margin: 0;
  text-align: center;
  font-size: 30px;
}

.number {
  font-family: "OpenSansBold", sans-serif;
}

.title {
  font-family: "OpenSansSemiBold", sans-serif;
}